%html
    %body
        %h1 Hello,
        %p A hole you have previously edited has been updated by a map creator.
        %p Here are the details:
        %ul
            %li= "Hole Number: #{@hole_number}"
            %li= "Course Name: #{@course_name}"