.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header Editing User Hole
      = render 'form'
      %input#xCoordinates{:name => "xCoords",:value => @xCoordinates}
      %input#yCoordinates{:name => "yCoords", :value => @yCoordinates}
      %input#terrain_type{:name => "terrains", :value => @terrain_type}