.card
  .card-header.d-flex.align-items-center
    %span Choose a Hole to Edit

  %table.table
    %thead
      %tr
        %th Hole Number
        %th Creator
        %th Course Name
        %th
    %tbody
      - @holes.each do |hole|
        %tr
          %td= hole.hole_number
          %td= hole.user.email
          %td= hole.course_name
          %td
            .btn-toolbar.float-end
              = link_to 'Edit', edit_user_hole_path(hole), class: 'btn btn-outline-secondary ms-1 btn-sm'
