html {
  min-height: 100%
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  footer {
    margin-top: auto;
  }
}

#map { height: 600px; }
  
polygon {
  stroke: black;
}
svg {
  display: flex;
}