html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.8rem;
  }

  .form-group {
    margin-bottom: 1rem;

    .readonly {
      background-color: #e9ecef;
    }
  }

  // Searchbar suggestions
  #ui-id-1 {
    position: absolute;
    padding: 0;
    width: 20em;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1000;

    li {
      cursor: pointer;
      padding: 0.5em;
      border-top: 1px solid #ddd;
    }

    li:hover {
      background-color: #eee;
    }
  }

  .ui-helper-hidden-accessible {
    display: none;
  }

  #shape-type {
    margin-bottom: 1rem;
  }

  #map {
    height: 90vh;
  }

  footer {
    margin-top: auto;
  }
}

.flash-messages {
  position: fixed;
  z-index: 9999;

  .close {
    background-color: transparent;
    border: 0;
  }
}
