#whole {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.8)), url(images/splash.jpg);
    background-size: cover;
    box-shadow: 0px 3px 12px 13px rgba(0,0,0,0.5);
    min-height: 90vh;
    color: #ffffff;
}

#title{
    font-size: 2.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 70%;
}

// #header{
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     font-size: 2.5rem;
//     text-align: center;
//     margin: 1rem 0 2rem;
// }

#user-form {
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    width: 21rem;
    padding: 1rem 0.7rem;
    opacity: 0.9;
}
    
#forgot_pass, #log{ 
    display: block;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: right;
    width: 100%;
    margin-bottom: 0.5rem;
}

#forgot_pass:hover , #log:hover{
    color: #65f933;
}

.form-btn {
    margin: 0.6rem auto;
    width: 100%;
}

#frgtheader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 2rem;
}