%p{id: "result"}
.map-container 
    %div{id: "controls"}
        %select{id: "shape-type", name: "shape-type"}
            %option{value: "1"} Fairway
            %option{value: "3"} Green
            %option{value: "2"} Rough
            %option{value: "0"} Hazard
            %option{value: "7"} Teeing Ground

        -# %button.btn.btn-primary{type: 'submit'} Save
    
%div{id: "map"}
