%div#whole
  %h1#title Group 31
  %div#login
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h2#header Login
      %div.form-group
        = f.input :email, autofocus: true, required: true
      %div.form-group
        = f.input :password, required: true
      .mt-3= link_to 'Forgot your password?', new_password_path(resource_name), class: 'btn btn-link', id: 'forgot_pass'
      %div.form-btn
        %button.btn.btn-primary.form-btn{type: "submit" , id: "submit"} Login
      %div.form-btn
        %button.btn.btn-primary.form-btn#createacc{type:"button", onclick:"window.location.href='http://localhost:3000/users/sign_up'" } Register
       