-# frozen_string_literal: true
= append_javascript_pack_tag "map_with_edit_control"

= simple_form_for @datum, html: {onsubmit: 'return false'}  do |f|
  .card-body
    %p Draw out the features of the hole, using the shape types below
    %select.form-select{id: "shape-type"}
      %option{value: "fairway"} Fairway
      %option{value: "green"} Green
      %option{value: "rough"} Rough
      %option{value: "rock"} Rock
      %option{value: "bunker"} Bunker
      %option{value: "water"} Water
      %option{value: "tree"} Tree
      %option{value: "tee"} Teeing Ground

    #map

  .card-footer.d-flex
    = f.submit 'Save', class: 'btn btn-primary', id: 'submit-hole'
    = link_to 'Back', user_holes_path, class: 'btn btn-link ms-auto'

%input#xCoordinates{:name => "xCoords",:value => @xCoordinates, :hidden => true}
%input#yCoordinates{:name => "yCoords", :value => @yCoordinates, :hidden => true}
%input#terrain_type{:name => "terrains", :value => @terrain_type, :hidden => true}
%input#course{:name => "course", :value => @course_name, :hidden => true}
%input#hole{:name => "hole", :type => "text", :value => @hole_id, :hidden => true}