-# .card
-#   .card-header.d-flex.align-items-center
-#     %span Listing Data

-#     = link_to 'New Datum', new_datum_path, class: 'btn btn-outline-secondary ms-auto'

-#   %table.table
-#     %thead
-#       %tr
-#         %th Xcoordinates
-#         %th Ycoordinates
-#         %th Hole
-#         %th
-#     %tbody
-#       - @data.each do |datum|
-#         %tr
-#           %td= datum.xCoordinates
-#           %td= datum.yCoordinates
-#           %td= datum.hole_id
-#           -# %td= datum.userhole_id
-#           %td
-#             .btn-toolbar.float-end
-#               = link_to 'Show', datum, class: 'btn btn-outline-secondary btn-sm'
-#               = link_to 'Edit', edit_datum_path(datum), class: 'btn btn-outline-secondary ms-1 btn-sm'
-#               = link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'