.row.justify-content-center
  .col-lg-8
    .card
      .card-header 
        New Hole
      %input#course{:name => "course", :type => "text", :value => @course_name, :hidden => true}
      %input#hole{:name => "hole", :type => "text", :value => @hole_id, :hidden => true}
    
      = render 'form'