.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Course details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Name:
          %dd.col-md-9= @course.name
      .card-footer.d-flex
        = link_to 'Edit', edit_course_path(@course), class: 'btn btn-link'
        = link_to 'Back', courses_path, class: 'btn btn-link ms-auto'